@import '../../abstracts/variables';

$social-btn-width: 2.5rem;
$social-btn-height: 2.5rem;


body {
  background: rgba($white, .9);
}

.background-image {
  position: absolute;
  height: 160%;
  right: -55rem;
  top: -23rem;
  z-index: -1;
}
.form-image{
  position: absolute;
  right: 0px;
}


.form-button {
  width: 100%;
  background: $primary-color-dark;
  color: $white;
  border: none;
  border-radius: 2px;
  box-shadow: $card-shadow-hover;
  @include hover-tansistion;

  &:hover {
    color: $white;
    background: lighten($primary-color-dark, 5);
    box-shadow: $card-shadow;
  }
}

.or {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 3rem;

  p {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
  }
}

.line {
  height: 1px;
  background-color: $white;
  width: 45%;
}

.signup-text{
  color: #ffffff;
}
.signup-text:hover{
  color: #fff3;
}
.signup-text-position{
  float: right;
  font-weight: 600;
}

.social-btn-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  box-sizing: border-box;

  .social-btn{
    background-color: #ffffff;
    border-radius: 2px;
    width: 7rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.20);
    opacity: 0.8;
    cursor: pointer;
    .google-btn{
      background: url('../images/socials/google.svg');
      width: $social-btn-width;
      height: $social-btn-height;
    }
    .facebook-btn{
      background: url('../images/socials/facebook.svg');
      width: $social-btn-width;
      height: $social-btn-height;
    }
    .twitter-btn{
      background: url('../images/socials/twitter.svg');
      width: $social-btn-width;
      height: $social-btn-height;
    }
  }
  .social-btn:hover{
    opacity: 1;
  }
}


@media (min-width: 10em) and (max-width: 43rem) {
  .login-wrapper {
    box-shadow: none !important;
    border-top: none !important;
  }
  .social-btn{
    width: 5.0rem;
    height: 3.0rem;

  }
  .twitter-btn, .facebook-btn, .google-btn {
    width: 1.5rem;
    height: 1.5rem;
  }

}

@media (min-width: 10em) and (max-width: 59em) {
  .background-image {
    display: none;
  }

  .form-nav {
    display: none;
  }

  .flex-wrapper {
    display: block;
    height: 100vh;
  }

  .image-container {
    display: none;
  }

  .login-container {
    margin-top: -6rem;
    margin-right: auto;
    margin-left: auto;

    .login-wrapper {
      color: #345;
      padding: 6rem 0;
      margin-left: 0;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
      border-top: 2px solid #2C2360;
      border-radius: 5px;
    }

    .line {
      background-color: #345;
    }

    .form-container {
      width: 60%;
      margin: 0 auto;
    }
    .social-btn{
      width: 6.0rem;
      height: 4.0rem;

    }
    .twitter-btn, .facebook-btn, .google-btn {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

@media (min-width: 945px) and (max-width: 1400px){
  .background-image {
    display: none;
  }

  .flex-wrapper {
    display: block;
    height: 100vh;
  }

  .image-container {
    display: none;
  }

  .login-container {
    margin-top: -6rem;
    margin-right: auto;
    margin-left: auto;

    .login-wrapper {
      color: #345;
      padding: 6rem 0;
      margin-left: 0;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
      border-top: 2px solid #2C2360;
      border-radius: 5px;
    }

    .line {
      background-color: #345;
    }

    .form-container {
      width: 60%;
      margin: 0 auto;
    }
  }
}
@media all and (min-width: 945px) and (max-width: 1100px) {
  .social-btn{
    width: 5.0rem;
    height: 3.0rem;

  }
  .twitter-btn, .facebook-btn, .google-btn {
    width: 1.5rem;
    height: 1.5rem;
  }

}
