@import 'abstracts/variables';

// ABSTRACT IMPORTS
@import 'abstracts/mixins';

// BASE IMPORTS
@import 'base/reset';
@import 'base/typography';
@import 'base/utilities';

// COMPONENETS IMPORTS
@import 'components/button/button';
@import 'components/form/form';
@import 'components/navbar/navbar';
@import 'components/skeleton/skeleton';

@import 'components/color-variables';
@import 'components/color-classes';

// Variables;
@import'components/variables';

// components
@import 'components/global';
@import 'components/badges';
@import 'components/grid';
@import 'components/transitions';
@import 'components/cards';
@import 'components/tabs';
@import 'components/tooltip';
@import 'components/dropdown';
@import 'components/collapsible';
@import 'components/chips';
@import 'components/sidenav';
@import 'components/preloader';
@import 'components/pulse';
@import 'components/editor/editorContainer.scss';
@import 'components/select/select.scss';

.css-1p3cd4g{
	z-index: 10000;
}
