$primary-color: #6952E5;
$primary-color-dark: #2C2360;
$primary-color-light: #6C54EC;
$white: #FFFFFF;
$bg-color: #f1f3f5;

$primary-text-color: #345;
$primary-text-color-dark: #333;
$fourohfour-color: #BFBFBF;
$card-aside-color: #D8EDED;

$heading-color: #745fb5;
$grey-color: #678;
$grey-color-lighter: #9eaab6;

$hr-color: rgba(116,95,181,0.2);

$linear-gradient: inear-gradient(5deg,#745fb5,#9066b8);

$padding-limit: 6;

$card-shadow: 0 1px 2px rgba(0, 0, 0, .16);
$card-shadow-hover: 0 6px 12px rgba(0, 0, 0, .16);
