@import '../../../assets/scss/abstracts/variables';

#emailVerification {
  text-align: center;
  .email-confirm {
    width: 40%;
  }
  h2 {
    margin-top: 10rem;
    text-transform: uppercase;
    color: #1D1740;
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 4rem;
  }

  p {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 3rem;
    margin-top: 4rem;
  }

  a {
    display: block;
    color: #FFF;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    background: #6952E5;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 500;
    width: 150px;
    -webkit-tap-highlight-color: transparent;
    margin: 10rem auto;
  
  }
}

/* Mobile Views */
@media all and (min-width: 0rem) and (max-width: 48rem) {
  #emailVerification {
    padding: 3rem;

    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 3 .5rem;
    }
  }
}