.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 3rem;
  width: 50%;
  margin-top: 4%;
  left:25%;
  border-radius: 1rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 2.8rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#updateFormWrapper {
  margin-left: auto;
  height: auto;
}
#updateContainer {
  margin-right: 0;
  margin: auto;
  border: 0;
  width: 100%;
  box-shadow: none;
 
}
#resetPassword.login-wrapper {
  box-shadow: none;
}
#bio{
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  padding: 1rem 1rem;
  border: none;
  border-radius: 2px;
  color: #678;
}
@keyframes animatetop {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes an {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

/*Media Queries*/
@media(max-width: 1071px){
	.modal-content {
    padding: 0;
  }
}

@media(max-width: 500px){
	.modal-content {
    width:90%;
    margin-top: 10rem;
  }
  #updateFormWrapper {
   padding: 10px;
  }
  .modal {
   overflow: scroll;
  }
  .close {
    margin-right: 10px;
  }
}
