@import '../../../assets/scss/abstracts/variables';
@import '../../../assets/scss/abstracts/mixins';


#resetContainer {
  z-index: 10;
  color: $white;
  width: 40rem;
  text-align: center;
  margin-top: 2.9rem;
  border: 0.1rem solid rgba(206, 206, 207, .5);
  box-shadow: 0 1rem 0.6rem -0.6rem rgba(0,0,0,.12);
}

form {
  margin-top: 5rem;
}

#resetFormWrapper{
  margin: 0;
  height: 28rem;
}
#resetFormWrapper h3 {
 color: $primary-color;
 margin-top: 2rem;
}

#sideImage {
 margin-left: 16.5rem;
}
#updateSideImage{
  margin-left: 15rem;
}

#updateContainer{
  z-index: 10;
  color: $white;
  width: 40rem;
  text-align: center;
  margin-top: 23rem;
  border: 0.1rem solid rgba(206, 206, 207, .5);
  box-shadow: 0 1rem 0.6rem -0.6rem rgba(0,0,0,.12);
}
#updateFormWrapper{
  margin: 0;
  padding: 10px;
}

#updateFormWrapper > div {
  margin-left: 0;
}
#updateFormWrapper h3 {
  color: $primary-color;
  margin-top: 2rem;
 }
#inputGroup{
  margin-top: -3rem;
}
.update-label{
  margin-bottom: 0;
}

  .reset-password-label{
    font-size: 1.7rem;
    text-align: left;
    margin-left: 0;
    color: $primary-text-color;
  }

  #resetFormWrapper input{
    width: 100%;
    margin-bottom: 2rem;
    border: 0.1rem solid rgba(153, 145, 145, 0.4);
  }
  #updateFormWrapper input{
    width: 100%;
    margin-bottom: 2rem;
    border: 0.1rem solid rgba(153, 145, 145, 0.4);
  }
  #resetLabel{
    color: $grey-color;
  }
.text-center {
  text-align: center;
}
.sent-response{
  font-size: 1.7rem;
  font-weight: 500;
  color: $primary-color-dark;
}

.password-inst{
  color: black;
}
#submitButton{
  margin-top: 0;
  margin-bottom: 4rem;
  background: $primary-color;
  width: 100%;
}

#updateButton{
  margin-top: 0;
  margin-bottom: 1rem;
  background: $primary-color;
}

.remove-arc{
  display: none;
}
.inner-form-reset-password{
  margin-top: 22rem;
  margin-left: 5rem;
}

@media (min-width: 10rem) and (max-width: 59rem) {
  #updateContainer, #resetContainer{
    width: 100%;
  }

  #updateContainer {
    margin-top: 1.2rem;
  }
  
  form {
    margin-top: 0rem;
    width: 100%;

  }
  .reset-form-container{
    width: 90%;
  }
  #resetFormWrapper{
    padding-top: 0rem;
    display: flex;
    justify-content: center;
  }
  .form-content{
    width: 100%;
  }
  .inner-form-reset-password{
    margin-top: 0rem;
    margin-left: 0rem;
  }
  #resetContainer{
    margin-bottom: 25rem;
  }
  
}
/* Tablets */
@media all and (min-width: 47rem) and (max-width: 64rem) {
  #resetContainer{
    width: 100%;
    margin-top: 25rem;
    margin-bottom: 0rem;
  }
  #resetFormWrapper{
    padding: 0 0;
  }
  .inner-form-reset-password {
    margin: 5rem 0rem 0rem 0rem;
  }
  .img-container {
    display: none;
  }
  #adjust-container{
    width: 100%;
  }
  .header-group{
    color: #345;
    text-align: center;
  }
  .reset-form-container{
    border-top: #345 3px solid; 
    border-radius: 2px;
    padding-top: 5rem;
    margin-top: 5rem;
  }
  .login-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .line {
    background-color: #345;
  }

  
}

/* very large screen devices */
@media all and (min-width: 114rem) {
  #resetFormWrapper{
    padding-top: 0rem;
    display: flex;
    justify-content: center;
  }
  #resetContainer{
    margin-top: 40rem;
    margin-left: 20rem;
  }
  #resetFormWrapper h3{
    margin-top: -2rem;
  }

}

