@import '../../../assets/scss/abstracts/variables';

$tag-shadow: 0 2px 4px rgba(0, 0, 0, .07);
$tag-shadow-hover: 0 6px 12px rgba(0, 0, 0, .12);

.tags {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tag--button {
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
}

.tag {
  font-size: 1.4rem;
  background-color: $white;
  color: $primary-text-color;
  min-width: 11rem;
  height: 4rem;
  display: flex;
  align-items: center;
  box-shadow: $tag-shadow;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  border-radius: 5px;
  transition: all ease-in-out 200ms;
  padding-right: 1.5rem;

  &:hover {
    color: $primary-text-color;
    box-shadow: $tag-shadow-hover;
  }

  &__primary {
    color: $white;
    background-color: $primary-color;
    border: 1px solid $primary-color;

    &:hover {
      background-color: darken($primary-color, 3);
      border-color: darken($primary-color, 3);
      color: $white;
    }
  }

  svg {
    height: 2rem;
    margin-left: 1.5rem;
    margin-right: 5px;
  }
}