@import '../../../assets/scss/abstracts/variables';

$navbar-height: 54px;
$navbar-height-small: 54px;
$navbar-logo-color: #5f4aa1;
$navbar-links-color: #333333;
$navbar-shadow: rgba(0, 0, 0, .05);
$navbar-border: rgba(0, 0, 0, .09);
$navbar-primary-color: #5f4aa1;
$navbar-hover-color: #f6f9fc;

.hero {
  height: 27.5rem;
  width: 100%;
  background-color: $white;
  margin-top: $navbar-height;

  &--content {
    display: flex;
    justify-content: space-between;
    padding-top: 3.4rem;
  }

  &--image {
    img {
      min-width: 715px;
      max-width: 100%;
      height: auto;
    }
  }

  &--box {
    min-width: 2.7rem;
    padding: 3rem 0;
    margin-right: 15.8rem;

    .button {
      margin-top: 1.5rem;
    }
  }

  &--heading {
    font-size: 2.7rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}