.side-card {
  width: 20rem;
  height: 300px;
  margin: 15px 55px 15px 30px ;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
  padding: 3rem 3rem 3rem 2.5rem;
  text-align: center;
  color:#345;
  background-color: #fff;
  &__link {
    color: #345;
    display: block;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
    margin-right: 1.8rem;
    margin-bottom: 1.0rem;

    .icon{
      color: #345;
    }
    
  }
  .active{
    background-color: #5C4ABE;
    color: #fff;
  }
  .active > svg {
    color: #fff;
  }
  .inactive{
    background-color: #fff;
    color: #345;
  }
  .inactive > svg {
    color: #345;
  }
  .inactive:hover > svg, .inactive:hover {
    color: #5C4ABE;
  }

}
.side-nav-text{
  text-align: left;
  font-weight: 400;

}

/* Mobile in portrait and landscape mode*/
@media all and (max-width: 47rem) {
  .side-card {
    width: 80%;
    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
    &__link {
      color: #345;
      display: block;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 15rem;
      margin-right: 0.2rem;
      margin-bottom: 0rem;
    }
  }  
}

/* Tablets */
@media all and (min-width: 48rem) and (max-width: 64rem) {
  .side-card {
    margin-right: 2.0rem;
  }
}

/* Desktop and laptop */
@media all and (min-width: 76.5rem) {
}

/* very large screen devices */
@media all and (min-width: 114rem) {

}



