$navbar-height: 54px;
$navbar-height-small: 54px;
$navbar-logo-color: #5f4aa1;
$navbar-links-color: #333333;
$navbar-shadow: rgba(0, 0, 0, .05);
$navbar-border: rgba(0, 0, 0, .09);
$navbar-primary-color: #5f4aa1;
$navbar-hover-color: #f6f9fc;
